.skills {
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
}

.skills__skill-sets {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.skills__skill-sets > div {
  padding: 0.5em 0.75em;
  font-weight: bold;
  /* border: 1px solid var(--theme-color-light); */
  border-radius: 7px;
  background-color: #ddd;
}
