@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  /* list-style: none; */
  text-decoration: none;
}

:root {
  --theme-color: #0774e9;
  --theme-color-light: #4d9bee;
  --theme-color-dark: #053a72;
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  --transition: all 400ms ease;

  --container-width-lg: 98%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

body {
  font-family: "Nunito", sans-serif;
  max-width: 1200px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--theme-color);
}

.container {
  width: var(--container-width-lg);
  margin: 10px auto 10px auto;
}

@media print {
  .container {
    margin: 0px auto 0px auto;
  }
}
.section-2 {
  /* background-color: #ddd; */
  margin-right: 1rem;
  position: relative;
}

.resume-container {
  /* display: grid;
  grid-template-columns: 30% 70%;
  gap: 1.5rem; */
}

section {
  /* margin-top: 2rem; */
}

p {
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.section-title {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 0.5rem;
}
.m-neg-1 {
  /* margin-left: -1rem; */
}

@media screen and (max-width: 750px) {
  .resume-container {
    /* grid-template-columns: 1fr; */
    padding: 1rem;
  }
}

a,
a:visited {
  color: var(--theme-color);
  border-bottom: 1px solid var(--theme-color);
}

a:hover {
  color: var(--theme-color-dark);
  border-bottom: 2px solid var(--theme-color-dark);
}
.link-border {
  border-bottom: 1px solid var(--theme-color);
}
